.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex: 1;
    align-self: stretch;
    gap: 30px;
}

.gameCard {
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}